.navbar-brand img {
    margin-right: 10px;
}

.navbar {
    /*border-bottom: #e0d44e 3px solid;*/
}

.navbar-toggler {
    border: none;
}

.jumbotron {
    text-align: center;
}

.card-icon {
    font-size: 48px;
    text-align: center;
}

.btn-primary {
    background-color: #aba241;
    border-color: #aba100;
}

.btn-primary:hover {
    background-color: #766d3b;
    border-color: #aba100;
}

.inheader-link {
    font-size: 20pt;
    color: transparent !important;
}

.inheader-link.hover {
    text-decoration: none;
}

h1:hover .inheader-link,
h2:hover .inheader-link,
h3:hover .inheader-link,
h4:hover .inheader-link {
    color: #8a832e !important;
}

h1:has(.navigation-header-map:hover) .inheader-link,
h2:has(.navigation-header-map:hover) .inheader-link,
h3:has(.navigation-header-map:hover) .inheader-link,
h4:has(.navigation-header-map:hover) .inheader-link {
    color: transparent !important;
}
