---
layout: application
---

<style>

</style>
<link rel="stylesheet" href="{{ '/css/navigation.css' | relative_link}}">
<link rel="stylesheet" href="{{ '/css/documentation.css' | relative_link}}">
<link rel="stylesheet" href="{{ '/css/native.css' | relative_link}}">

<div id="_navigation">
    <div class="container-fluid">
        <div class="row flex-md-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar bg-white">
                <nav class="nav flex-column">
                    <div class="collapse" id="_navigation-container">
                    </div>
                </nav>
            </div>
            <div class="col-12 col-md-9 col-xl-8 content-container">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
